//@parent:main.scss
//@hidden:false

body {
    background-color: $body-bg;
	background-color: #eee;
    margin: 0;
}

a {
	color: $linkcolor;
	text-decoration: none;
}

.navbar-brand {
	img{
		float: left;
		margin-right: 10px;
	}
}

.navbar-form {
	#zoekterm{
		width: 250px;
	}
	
	#rubriek{
		width: 200px;
	}
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}



.clear {
    clear: both;
    padding-top: 20px;
}

footer {
	text-align: center;
	background-color: $modulecolor;
	padding: 20px;
	margin-top: 20px;
	font-size: small;
	width: 100%;
}

main {
	margin-top: 70px;

	.row {
		margin-left: 0;
		margin-right: 0;
	}
	
	.content-title {
		color: $titlecolor;
	}
	
	.color-blue {
		color: $headcolor;
	}
	
	.table-scroll {
		width: 100%;
		border: solid 1px #dddddd;
	}
	
	.table-scroll th {
		color: $linkcolor;
	}

	.table-scroll > thead,
	.table-scroll > tbody,
	.table-scroll > thead > tr,
	.table-scroll > tbody > tr,
	.table-scroll > thead > tr > th,
	.table-scroll > tbody > tr > td {
		display: block;
	}

	.table-scroll > tbody > tr:after,
	.table-scroll > thead > tr:after {
		content: ' ';
		display: block;
		visibility: hidden;
		clear: both;
	}

	.table-scroll > tbody {
		overflow-y: auto;
		height: 150px;
	}

	.table-scroll > tbody > tr > td,
	.table-scroll > thead > tr > th {
		width: 33.333333%;
		float: left;
	}
	
	.profiel, .feedback, .biedingen, .gebruiker, .content, .form-signin, .registreer, .registreerverkoper, .aanvraag, .bevestiging, .productoverzicht {
		margin-bottom: 10px;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		-webkit-box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.75);
		box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.75);
		background-color:$modulecolor;
	}
}