//@parent:main.scss
//@hidden:false

main {
	.aanvraag {
		height: 550px;
		
		.btn-primary {
			width: 300px;
		}
		
		.form-group {
			margin-bottom: 20px;
		}
		
		h2 {
			margin-bottom: 20px;
		}
		
		p {
			width: 430px;
			margin-bottom: 25px;
		}
		
		.aanvraag-info {
			padding-left: 25px;
		}
	}
}