//@parent:main.scss
//@hidden:false

main{
	.form-signin {
		height: 500px;
		
		input[type="password"] {
			margin-bottom: 5px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
		
		.form-control {
			position: relative;
			height: auto;
			width: $logininputwidth;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 10px;
			font-size: 16px;
		}
		
		.btn-primary {    
			width: $logininputwidth;
			margin-bottom: 10px;
		}
		
		.form-signin-heading {
			margin-bottom: 30px;
		}
		
		.loginbox {
			margin-left: 25px;
			margin-right: 25px;
		}
		
		.vergeten {
			margin-bottom: 10px;
			font-weight: normal;
			font-size: small;
		}
		
		input[type="email"] {
			margin-bottom: -1px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	
	.registreer {
		height: 500px;
		
		.registreerblok {
			padding-top: 20px;
			padding-left: 25px;
			padding-right: 25px;
			
			ul {
				margin-top: 10px;
				list-style-types: circle
			}
		}
		
		.btn-primary {    
			width: $logininputwidth;
			margin-bottom: 10px;
		}
		
		.registreertekst {
			width: 450px;
			margin-bottom: 25px;
		}
	}
}