//@parent:main.scss
//@hidden:false

main {
	.feedback {
		height: 550px;
		
		.feedback-titel {
			padding-bottom: 20px;
			color: $titlecolor
		}
		
		.feedback-body {
			margin-top: 20px;
		}

		.feedback-list {
			padding-left: 40px;
			padding-right: 40px;
			margin-bottom: 35px;
		}

		.feedback-bericht {
			float: left;
			margin-right: 25px;
			margin-left: 50px;
		}

		.feedback-bericht {
			& > textarea {
				height: 150px;
				width: 300px;
				resize: none;
				overflow: auto;
			}
		}

		.feedback-score {
			& > p {
				float: left;
				margin-right: 25px;
				margin-top: 60px;
				margin-left: 45px;
			}
		}

		.feedback-score {
			& > input {
				width: 50px;
				margin-top: 55px;
				margin-bottom: 25px;
			}
		}

		.feedback-form {
			#opslaan {
				width: 200px;
			}
		}
	}

	.profiel {
		height: 550px;
		
		.profiel-titel {
			padding-bottom: 20px;
			color: $titlecolor
		}

		.profiel-body {
			margin-top: 20px;
		}
		
		.gebruiker-infobox-seg {
			padding-left: 20px;
			padding-bottom: 10px;
		}
	}

	.advertenties {
		overflow: hidden;
		height: auto;
		
		.advertenties-body {
			margin-top: 20px;
		}	
		
		.advertentie-item-body {
			border-top: solid 2px black;
			border-bottom: solid 2px black;
			padding-top: 10px;
			margin-bottom: 10px;
			margin-left: 30px;
		}
		
		.info-text {
			color: black;
			font-size: small;
		}
		
		.advertentie-item-body figure{
			display: block;
			font-size: 0;
			line-height: 200px;
			margin: 0;
			overflow: hidden;
			white-space: nowrap;
			float: left;
		}

		.advertentie-item-body img {
			float: left;
			margin-left: 150px;
			margin-right: 100px;
		}

		.advertentie-item-info {
			width: 300px;
			min-height: 70px;
			text-overflow: ellipsis;
			overflow: hidden;
			float: left;
			text-align: left;
		}

		.advertentie-item-prijs {
			padding-top: 33px;
			padding-right: 200px;
			font-size: large;
		}
	}
}