//@parent:main.scss
//@hidden:false

main {
	.registreerverkoper {
		height: 500px;
		
		.btn-primary {
			width: 300px;
		}
		
		p {
			width: 700px;
			padding-left: 10px;
			margin-bottom: 20px;
		}
		
		.radiobutton {
			.form-control {
				webkit-box-shadow: none; 
				box-shadow: none; 
				
				&:focus {
					webkit-box-shadow: none; 
					box-shadow: none; 
					border-color: #FFF;
				}
			}
		}
		
		.form-group {
			margin-bottom: 20px;
		}
		
		label {
			padding-top: 8px;
			color: $linkcolor;
		}
		
		.labelright {
			text-align: right;
		}
		
	}
}