//@parent:main.scss
//@hidden:false
//add your variables here

$body-bg: #eee;
$linkcolor: #4582ec;
$modulecolor: white;
$titlecolor: #e76513;
$headcolor: blue;
$showcasetextcolor: white;
$showcasetexthover: #d3d3d3;
$showcasebtncolor: #fd7945;
$showcasebtnhover: #ff6b1c;
$showcasebgcolor: #337ab7;


$navbar-default-brand-color: #4582ec;
$navbar-default-link-color: #4582ec;
$navbar-default-bg: white;
$link-hover-decoration: none;


$logininputwidth: 100%;