//@parent:main.scss
//@hidden:false

main {
	.voorwerp {
		min-height: 950px;

		.voorwerp-titel {
			padding-left: 50px;
			padding-bottom: 20px;
			padding-top: 20px;
		}	

		.voorwerp-rubriek {
			padding-left:50px;
			padding-bottom: 20px;
		}

		.thumb-placeholder {
			figure {
				display: block;
				font-size: 0;
				height: 100px;
				line-height: 100px;
				margin-right: 0;
				margin-left: 3%;
				overflow: hidden;
				text-align: center;
				white-space: nowrap;
				width: 21.25%;
				border: solid 1px black;
				margin-bottom: 20px;
				float: left;
			}
		}
		
		.voorwerp-afbeeldingen-main {
			figure {
				display: block;
				font-size: 0;
				height: 200px;
				line-height: 200px;
				margin-right: 0;
				margin-left: 3%;
				overflow: hidden;
				text-align: center;
				white-space: nowrap;
				width: 94%;
				border: solid 1px black;
				margin-bottom: 20px;
			}
		}

		.voorwerp-info-beschrijvingtitel {
			padding-left: 50px;
			padding-bottom: 20px;
			padding-top: 30px;
		}

		.voorwerp-info-beschrijving {
			padding-left: 50px;
			padding-right: 50px;
			padding-bottom: 20px;
		}

		.voorwerp-info-betaling, .voorwerp-info-verzending {
			padding-left: 50px;
			padding-top: 20px;
		}
		
		.voorwerp-rubriek {
			a:hover {
				text-decoration: none;
			}
		}
	}

	.gebruiker {
		height: 450px;

		.gebruiker-body-titel {
			padding-left: 25px;
			padding-bottom: 20px;
		}

		.gebruiker-infobox-seg {
			padding-left: 40px;
			padding-bottom: 10px;
		}
	}

	.biedingen {
		min-height: 490px;
		
		.biedingen-body {
			margin-top: 30px;
		}
		
		.biedingen-body-titel {
			h4 {
				padding-left: 25px;
				margin-bottom: 30px;
			}
		}

		.biedingen-body-input {
			padding-bottom: 20px;
			text-align: center;
			.input-group{
				width: 100%;
			}
			.btn {
				width: 100%;
			}
		}

		.biedingen-body-sluiting {
			padding-left: 65px;
			padding-bottom: 20px;
		}
		
		.biedingen-input {
			margin-bottom: 10px;
		}

		.biedingen-body-list {
			padding-left: 65px;
			padding-right: 65px;
		}
	}
}