//@parent:main.scss
//@hidden:false

main {
	.veilingaanmaken {
		height: 600px;
		
		.btn-primary {
			width: 300px;
		}
		
		.form-group {
			margin-bottom: 20px;
		}
		
		label {
			padding-top: 8px;
			color: $linkcolor;
		}
		
		h2 {
			margin-bottom: 20px;
		}
		
		textarea {
			resize: none;
		}
	}
}