//@parent:main.scss
//@hidden:false

main {
	.bevestiging {
		height: 550px;
		
		.btn-primary {
			width: 300px;
		}
		
		.form-group {
			margin-bottom: 20px;
		}
		
		h2 {
			margin-bottom: 20px;
		}
		
		p {
			width: 550px;
			margin-bottom: 25px;
		}
		
		label {
			padding-top: 8px;
			color: $linkcolor;
		}
		
		.bevestiging-info {
			padding-left: 25px;
		}
	}
}