//@parent:main.scss
//@hidden:false

main {
	.info, .prijs {
		font-size: 12px;
	}
	
	.content {
		height: 900px;
	}

	.rubriektitel {
		margin-bottom: 30px;
		padding-left: 20px;
		margin-top: 20px;
	}

	.showcase-item {
		display: inline-block;
	}

	.showcase-list {
		margin: auto;
		width: 100%;
		padding-left: 80px;
	} 

	.showcase-item-clickable-container {
		display: block;
		text-decoration: none;
	}

	.showcase-item-body {
	   border: solid 3px $showcasebgcolor;
	   background-color: $showcasebgcolor;
	   border-radius: 5px;
	   margin-bottom: 10px;
	   padding: 1px;
	   
	   a:hover, a:visited {
			text-decoration: none;
		}
	   
	   figure {
			display: block;
			font-size: 0;
			height: 136px;
			line-height: 136px;
			margin: 0;
			overflow: hidden;
			text-align: center;
			white-space: nowrap;
			width: 100%;
			padding: 1px;
			padding-top: 0px;
			border-radius: 5px;
			background-color: white;	
		}
	   
	   	img {
			max-height: 100%;
			max-width: 100%;
			vertical-align: middle;
	    }
	}

	.showcase-item-card-content {
		padding: 8px 12px 12px;
		color: $showcasetextcolor;
		text-align: center;
	}

	.showcase-item-title {
		font-weight: 400;
		text-decoration: none;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-align: center;
		vertical-align: top;
	}
	
	a:hover {
		.btn-orange{
			background-color: $showcasebtngover;
			color: $showcasetextcolor;
		}
		
		.showcase-item-title {
			color: $showcasetexthover;
		}
	}
	
	.btn-orange {
		background-color: $showcasebtncolor;
		color: $showcasetextcolor;
	}
	
	.list-group{
		box-shadow: none;
		padding-left: 15px;
	}
}