//@parent:main.scss
//@hidden:false

main {
	.productoverzicht {
		height: 900px;
		
		.item-body {
			border-top: solid 2px black;
			border-bottom: solid 2px black;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		
		.info-text {
			color: black;
			font-size: small;
		}
		
		figure {
			display: block;
			font-size: 0;
			line-height: 200px;
			margin: 0;
			overflow: hidden;
			white-space: nowrap;
			float: left;
		}

		img {
			float: left;
			margin-right: 100px;
		}

		.item-info {
			width: 300px;
			height: 70px;
			text-overflow: ellipsis;
			overflow: hidden;
			float: left;
			text-align: left;
		}

		.item-prijs {
			padding-top: 33px;
			font-size: large;
		}
	}
}